<div class="container-fluid footer mt-5">
    <div class="row">
        <!-- in4  -->
        <div class="col-lg-4 mt-3 mb-3">
            <h2>Công ty cổ phần</h2>
            <h1>Sao Đại Dương</h1>
            <p>Tầng 3, Tòa nhà Ngọc Khánh,Số 37 Nguyễn Sơn, Long Biên, Hà Nội</p>
            <p>(+84) 24 3634 0698</p>
            <p>(+84) 913 575 388</p>
            <p>liemnq@oceanstarndt.com.vn</p>
        </div>
        <!-- description -->
        <div class="col-lg-3 mt-3 mb-3">
            <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto quo rem sit nam dolorem consequuntur sed ducimus qui corporis vel? Et, impedit tempora voluptatem beatae consectetur molestias voluptas similique mollitia?</p>
        </div>
        <!-- nav  -->
        <div class="col-lg-4 mt-3 mb-3 ms-5">
            <h2>Quick Links</h2>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="nav-link" routerLink="" >Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="product">Product</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</div>