<section class="carousel">
    <div class="carousel_item">
        <div class="carousel_content">
            <h1>Contact</h1>
        </div>
    </div>
</section>

<section class="map">
    <div class="map_content">
    <p style="text-align: center;"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.6181121814175!2d105.87407731535244!3d21.04796098598807!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135a97e2919cef5%3A0x253d5a6802f83e8d!2zMzcgTmd1eeG7hW4gU8ahbiwgTmfhu41jIEzDom0sIExvbmcgQmnDqm4sIEjDoCBO4buZaSwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1653726188799!5m2!1sen!2s" width="1230px" height="527" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
    <div class="map_content_item"><h1 style="letter-spacing: 6px;">Contact Us</h1></div>
    </div>
</section>

<section class="contact" style="text-align: center;">
<div class="contact_content">
<div class="contact_item">
    <a href=" https://goo.gl/maps/nftzcgenPMEh8zni7" target="_blank"><i class="fa-solid fa-building"></i></a>
    <p>Tầng 3, Tòa nhà Ngọc Khánh<br>Số 37 Nguyễn Sơn, Long Biên, Hà Nội</p>
</div>

<div class="contact_item">
    <a href="tel: 02436340698"><i class="fa-solid fa-fax"></i></a>
    <p>(+84) 24 3634 0698</p>
</div>

<div class="contact_item">
    <a href="tel:0913575388"><i class="fa-solid fa-phone"></i></a>
    <p>(+84) 91 575 388 <br> <span style="font-style:italic;">Nguyễn Quang Liêm</span></p>
</div>

<div class="contact_item">
    <a href="mailto: liemnq@oceanstarndt.com.vn"><i class="fa-solid fa-envelope"></i></a>
    <p>liemnq@oceanstarndt.com.vn</p>
</div>
</div>
</section>