/* You can add global styles to this file, and also import other style files */

* {
    padding: 0;
    margin: 0;
}

:root{
    --yellow: #D9BA6E;
    --darkblue: #0B1F20;
    --olivegreen: #5E736A;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}