/* You can add global styles to this file, and also import other style files */

* {
    padding: 0;
    margin: 0;
}

:root{
    --yellow: #D9BA6E;
    --brown: #896B22;
    --darkblue: #0B1F20;
    --blue: #63959E;
    --olivegreen: #5E736A;
    --lightgreen: #CDE2D3
}

body {
    font-family: 'Montserrat', sans-serif;
}